body {
}

.logo {
    font-family: 'Roboto', sans-serif; 
    font-size: 3rem; 
    color: #5f6368;
    font-weight: 700; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}
