@inherits LayoutComponentBase
@inject AuthenticationStateService AuthState
@implements IDisposable

<div class="page">
    @if (AuthState.IsAuthenticated)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <div class="top-row px-4">
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    else
    {
        <main class="w-100">
            @Body
        </main>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        AuthState.OnAuthenticationStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        AuthState.OnAuthenticationStateChanged -= StateHasChanged;
    }
}